@import 'node_modules/@picocss/pico/css/pico.min.css';

.grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

article > section.grid {
  display: grid;
  grid-template-columns: .7fr .3fr;
}

article {
  position: relative;
}

.shy {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

article:hover > .shy {
  visibility: visible;
  opacity: 1;
}